@import "./styles/constants";
@import "./styles/respond";

html {
  scroll-behavior: smooth;
}

:root {
  @include respond(tab-land) {
    font-size: 14px;
  }

  @include respond(tab-port) {
    font-size: 12px;
  }

  @include respond(large-phone) {
    font-size: 10px;
  }

  @include respond(big-desktop) {
    font-size: 18px;
  }
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $body-bg;
  color: $text-color;
  overflow-x: hidden;
}

a {
  &:link,
  &:visited {
    color: inherit;
    text-decoration: none;
  }
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

input,
textarea {
  border: none;
  &:focus {
    outline: none;
  }
}

button {
  border: none;
  cursor: pointer;
  font-family: $font-family, sans-serif, serif;


  &:focus {
    outline: none;
  }
}

@import "./styles/header";
@import "./styles/auth";
@import "./styles/play";
@import "./styles/home";
@import "./styles/game";



